# --- Python ---
__pycache__/
*.pyc
.venv/
.env

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Docker ---
docker-compose.override.yml

# --- Test outputs ---
tests/output/

# --- Project Data & Logs ---
data/input/*
data/output/*
logs/*
temp/

!data/input/.gitkeep
!data/output/.gitkeep
!logs/.gitkeep